.container {
    display: flex;
}
.imgs {
    width: 50%;
    padding: 50px;
}
.img {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 10px;
    width: 100%;
    height: 300px;
    background: #444545;
    margin-bottom: 50px;
}
.prodInfo {
    width: 50%;
    padding: 50px;
}
.quantity {
    width: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.quantity button {
    background: transparent;
    border: none;
    font-size: 30px;
    cursor: pointer;
}
.quantity span {
    font-size: 22px;
}
.addToCart {
    width: 70%;
    padding: 20px 10px;
    border: none;
    color: white;
    background: #000;
    border-radius: 50px;
    font-size: 24px;
    cursor: pointer;
}
.prodInfo p {
    width: 80%;
    font-size: 20px;
}
