.card {
    background: linear-gradient(180deg, rgba(248, 248, 248, 0.2) 0%, rgba(154, 154, 152, 0.2) 100%);
    border-radius: 10px;
    width: 270px;
    cursor: pointer;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 40px;
}
.card .img {
    width: 200px;
    height: 180px;
    background: #c2c1c1;
    display: flex;
    justify-content: center;
    align-items: center;
}